.scroll-down {
  padding: 30px 40px;
  background: $color-additional;
  display: flex;
  align-items: center;
  &__link {
    padding-right: 20px;
    @extend %font-add;
    @include font($size: 1.4rem, $height: 1.9rem);
    text-transform: uppercase;
    text-decoration: none;
    color: $color-primary-text;
  }
  &__btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid $color-primary;
    color: $color-primary-text;
    box-shadow: 0px 0px 15px rgba($color-primary, 0.2);
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 13px;
      left: 7px;
      width: 9px;
      height: 2px;
      background-color: $color-primary;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      left: 12px;
      transform: rotate(-45deg);
    }
  }
}
