$color-primary: #e3b873;
$color-additional: #131313;
$color-primary-text: #ffffff;
$color-additional-text: #959595;

$content-width: 1240px;
$desltop-width: 1440px;
$tablet-big-width: 1024px;
$tablet-small-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
